/* Här är styling som gäller för alla rubriker och texter */
html,
body {
  height: 100;
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  margin: 0; 
}

/* Här har vi style för vår logotype */
.logo img {
  height: 250px;
  width: 350px;
  margin-top: -50px;

}

/* Styling av navbar*/
.nav-bar  {
  background-color:#004b87;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  }
 
.nav-bar a {
/*   display: flex;
  justify-content: space-around;
  align-items: center; */
  color: #fff;
  text-decoration: none;
}

/*sticky navbar */
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} 


/*our main body*/
section.content-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(189, 125, 183, 0.4);
}

section img {
width: 100%;
}


/* Style av vår button på en image */
.content-section .btn-book {
  background-color: #004b87;
  color: #ffff;
  padding: 25px;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  margin-bottom:30px;
  padding: 25px 34px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center; */
}

/* SLIDESHOW OF PICTURE WITH LINK*/
/* Slideshow container */
.slideshow-container {
  position: relative;


}

/* Hide the images by default */
.mySlideLinks {
  display: none;

}

/* Three pictures in slideshow */
.pic-1 {
  float: left;
  width: 23.33%;
  padding: 1px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.mySlideLinks .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.mySlideLinks .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.mySlideLinks .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}

  
          /*css för contact-section */

          .contact-area {
            background-image: url("https://images.unsplash.com/photo-1519046904884-53103b34b206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
          
            min-height: 400px;
          display: flex;
          justify-content: center;
            /* för bakgrundsbilden */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
          }
          /* blå ruta över h1*/
          .contact-area h1{
            height: auto;
            width: 200px;
            background-color: #004b87;
            text-align: center;
            justify-content: center;
          }
          /*styla form container */
          .contact-form {
            position: absolute;
            right: 300px;
            margin: 25px;
            max-width: 300px;
            padding: 10px;
            height: auto;
            width: 350px;
            background-color: white;
            color: white;
          }
          .contact-section{
          background-color: rgb(245, 245, 245) ; 
          }
          .form-input {
              width: 100%; 
              padding: 12px; 
              border: 1px solid #ccc; 
              border-radius: 4px; 
              box-sizing: border-box; 
              margin: 5px 0 22px 0;
              
            }
          .msg{
            resize: vertical ;
          }
          #enquery{
            width: 100px;
            border-radius: 3px;
          }
        